@import '../../../pant-react/es/styles/var.scss';

.demo-data-list {
  background-color: #f7f8fa;

  h2 {
    margin: 0;
    padding: 16px;
    padding-top: 20px;
    overflow: hidden;
  }

  &__actions {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__action-new {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #2473F2;
    margin-right: 16px;
    > img {
      margin-right: 4px;
    }
  }

  &__action-more {
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid #DCDEE6;
    padding-left: 16px;
    > img {
      cursor: pointer;
    }
  }

  .record-content {
    display: flex;
    padding: $padding-sm;
    > img {
      flex-shrink: 0;
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }
    > div {
      padding-top: 6px;
      > h3 {
        margin: 0;
        font-size: 18px;
        line-height: 20px;
      }
      > div {
        margin-top: $padding-base;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
