@import '../../../pant-react/es/styles/var.scss';

.demo-data-list {
  background-color: #f7f8fa;
  padding-bottom: 800px;
  h2 {
    margin: 0;
    padding: 16px;
    padding-top: 20px;
    overflow: hidden;
  }
}
