@import '../styles/var.scss';

.pant-field {
  padding: 0;

  &__value {
    padding-bottom: 20px;
  }

  &__body {
    border-bottom: 1px solid hsl(228, 17%, 88%);
    padding-bottom: 8px;
  }

  &__error-message {
    position: absolute;
    bottom: 0;
  }

  &--row {
    display: table-row;
    .pant-field__title, .pant-field__value {
      display: table-cell;
    }
    .pant-field__title {
      padding-bottom: 20px;
      padding-right: 20px;
      padding-top: 4px;
    }
  }

  &:not(:last-child)::after {
    display: none;
  }

  &.pant-cell--required {
    &::before {
      display: none;
    }
    .pant-field__title {
      &::after {
        content: '*';
        color: #FF584C;
        margin-left: 2px;
      }
    }
  }

  &.pant-cell--clickable {
    cursor: default;

    &:active {
      background-color: transparent;
    }
  }
}
