@import '../styles/var.scss';

.tea-form .pant-field {
  padding: 0;

  &__value {
    padding-bottom: 12px;
  }

  &__body {
    border-bottom: 1px solid hsl(228, 17%, 88%);
    padding-bottom: 8px;
  }

  &__control {
    font-size: 14px;
  }

  &--row {
    .pant-field__title {
      padding-bottom: 12px;
      padding-right: 20px;
      padding-top: 4px;
    }
  }

  &--column {
    .pant-field__title {
      margin-bottom: 4px;
    }
  }

  &--readonly {
    .pant-field__body {
      border-bottom: none;
    }
    .pant-field__value {
      padding-top: 4px;
    }
  }

  &:not(:last-child)::after {
    display: none;
  }

  &.pant-cell--required {
    &::before {
      display: none;
    }
    .pant-field__title {
      &::after {
        content: '*';
        color: #E54545;
        margin-left: 2px;
      }
    }
  }

  &.pant-cell--clickable {
    cursor: default;

    &:active {
      background-color: transparent;
    }
  }

  &--error {
    .pant-field__body {
      border-bottom: 1px solid #E54545;
    }
  }
}
